.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
report.json
gitleaks-git-report.json
gitleaks-report.json
semgrep-report-extended.json
semgrep-report-pro.json
semgrep-report.json
grype-report.json
sbom.json

### Environment ###
.env

### JVM ###
hs_err_pid*

### Logs ###
*.log

### Docker ###
docker-compose.override.yml
data/

### Gradle ###
gradle-app.setting

### Windows ###
Thumbs.db

### IntelliJ IDEA ###
.idea/
.idea/gradle.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### PlantUML ###
plantuml.jar
docs/diagrams/C4_Context.puml
docs/diagrams/C4_Container.puml
docs/diagrams/*.pdf
docs/diagrams/plantuml.cfg